body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    text-align: center;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    position: relative;
    margin-bottom: 20px;
}

.header-image {
    width: 100%;
    max-width: 400px;
    height: auto;
    display: block;
    margin: 0 auto;
    padding: 5px 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 20px;
    background-color: #fff;
    margin: 20px auto;
    width: 80%;
    max-width: 800px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.contact {
    max-width: 600px;
    margin: 0 auto;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

button {
    align-self: center;
    padding: 10px 20px;
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #333;
    color: #fff;
    margin-top: 20px;
    font-size: 0.9em;
    color: #666;
}

.portfolio ul {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Espaço entre as caixas */
    list-style: none;
    padding: 0;
}

.portfolio ul li {
    flex: 1 1 calc(50% - 40px); /* Tamanho das caixas e espaçamento */
    max-width: calc(50% - 40px); /* Limita o tamanho máximo */
    background-color: #f4f4f4; /* Cor de fundo da caixa */
    padding: 20px;
    border: 1px solid #ddd; /* Borda da caixa */
    border-radius: 10px; /* Arredondamento das bordas */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra */
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s; /* Efeito de transição */
}

.portfolio ul li:hover {
    transform: translateY(-5px); /* Efeito de hover */
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2); /* Efeito de hover */
}

.portfolio ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 18px;
    display: block;
    margin-top: 10px;
}
