/* Estilos gerais do corpo da página */
body { 
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    text-align: center;
}

/* Estilos para o cabeçalho */
header { 
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    position: relative;
    margin-bottom: 20px;
}

/* Estilos para a imagem no cabeçalho */
.header-image { 
    width: 100%;
    max-width: 400px;
    height: auto;
    display: block;
    margin: 0 auto;
    padding: 5px 0;
}

/* Estilos para o menu de navegação */
nav ul { 
    list-style: none;
    padding: 0;
}

/* Estilos para itens de navegação */
nav ul li { 
    display: inline;
    margin: 0 15px;
}

/* Estilos para links de navegação */
nav ul li a { 
    color: #fff;
    text-decoration: none;
}

/* Estilos para o conteúdo principal */
main { 
    padding: 20px;
    background-color: #fff;
    margin: 20px auto;
    width: 80%;
    max-width: 800px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: left;
}

/* Estilos para a seção de contato */
.contact { 
    max-width: 600px;
    margin: 0 auto;
}

/* Estilos para o formulário */
form { 
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/* Estilos para o botão de envio */
button { 
    align-self: center;
    padding: 10px 20px;
}

/* Estilos para o rodapé */
footer { 
    text-align: center;
    padding: 10px 0;
    background-color: #333;
    color: #fff;
    margin-top: 20px;
    font-size: 0.9em;
    color: #666;
}

/* Estilos para a lista de portfólio */
.portfolio ul { 
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    list-style: none;
    padding: 0;
}

/* Estilos para os itens do portfólio */
.portfolio ul li { 
    flex: 1 1 calc(50% - 40px);
    max-width: calc(50% - 40px);
    background-color: #f4f4f4;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
}

/* Estilos de hover para os itens do portfólio */
.portfolio ul li:hover { 
    transform: translateY(-5px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

/* Estilos para os links dos itens do portfólio */
.portfolio ul li a { 
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 18px;
    display: block;
    margin-top: 10px;
}
